<?php

define("DEBUGOUT",true);
$Settings = array();
$mailsetting = array();
$pagedata = array();
$navdata = array();
$baseURL = ( (isset($_SERVER['HTTPS']) && ($_SERVER['HTTPS'] == "on")) ? "https://" : "http://" )  . $_SERVER['HTTP_HOST'] ."/";

/**
 * GENERAL SETTINGS. 
 * 
 */

/**
 * Main Page Settings  --> Set 
 */
$Settings['page'] = array(
            'baseurl' => $baseURL,
            'ajaxurl' => $baseURL . 'ajax/',
            'title'       => "mein titel",
            'description' => "A simple Boilerplate App in php",
            'mailservice' => "OwnBoilderPlate",
            'projectname' => "Own boilerplate",
            'js_to_include'  => "",
            'sectoken'      => ''
            

        );
/**
 * Database Settings 
 */
$Settings['db']= array(
        'host'     => 'localhost',                  
        'dbdriver' => 'mysql',
        'port'     => 3306,
        'user'     => 'ownboilerplate',
        'dbname'   => 'ownboilerplate',
        'password' => 'Database Password'
        );
/**
 * Some Security Settings
 */
$Settings['security'] = array (
                                'pwminlength' => 8,
                                'token' => array ('salt' => 'Please entere here a random string'),
                                'pwblub' => 1,
                                'md5hashcost' => 5,
                            );       

/**
 * Mail Server Settings for phpmailer
 */        
$Settings['mail'] =array(
        'port'     => 587,
        'host'     => 'mail.example.com',
        'user'     => 'mailuser',
        'password' => 'password',
        'name'     => 'sendasname'
        );
        
/**
 * OAuth Settings
 */
$Settings['oauth'] = array(
    "use" => false,
    "userpwsalt" => 'here a nother randum string is required',
 "config" => [
    //Location where to redirect users once they authenticate with a provider
    'callback' => $baseURL . 'oauth/callback.php',

    //Providers specifics
    'providers' => [
        'Twitter' => ['enabled' => true, 'keys' => [ 'key'    => '', 'secret' => '']],
        'Google'   => ['enabled' => true, 'keys' => [ 'id'  => '', 'secret' => '']], //To populate in a similar way to Twitter
        'Facebook' => ['enabled' => true, 'keys' => [ 'id'  => '', 'secret' => '']],   //And so on
    ]
]

);
/**
 * Pages Routing Settings
 */
$Settings['pages'] = array(
        'landingpage' => 'start',
        'messagepage' => 'msgout',
        'fatalpage'   => 'errout',
        'noaccess'   => 'noaccess',
        'notfound'    => 'notfound' //'notfound'
        );
/**
 * Multilanguage i18n Settings
 */
$Settings['langs']['available'] = array(
            'de_DE' => "Deutsch",
            'en_GB' => "English",
            );
$Settings['langs']['default'] = 'en_GB';
$Settings['langs']['active'] = 'en_GB'; //will be overwritten by user 
$Settings['langs']['defaultdomain'] = 'core';
/**
 * List of hardcoded Admin Pages
 */
$Settings['admin']['adminpages'] = array (
                            'admin_userman' => 'User-Management',
                            'admin_sysman' =>'System-Management'
                            
                            );
                            
/**
 * Root admin role (the one which can not be deleted by normal admins)
 */                            
$Settings['admin']['rootrole'] = \Delight\Auth\Role::ADMIN;
/**
 * All the admin roles (the groups which have access to the adminpages defined above)
 */
$Settings['admin']['adminroles'] = array (  // Admin menue is visible
                                    \Delight\Auth\Role::ADMIN,
//                                    \Delight\Auth\Role::AUTHOR,
//                                    \Delight\Auth\Role::COLLABORATOR,
//                                    \Delight\Auth\Role::CONSULTANT,
//                                    \Delight\Auth\Role::CONSUMER,
//                                    \Delight\Auth\Role::CONTRIBUTOR,
//                                    \Delight\Auth\Role::COORDINATOR,
//                                    \Delight\Auth\Role::CREATOR,
                                    \Delight\Auth\Role::DEVELOPER,
//                                    \Delight\Auth\Role::DIRECTOR,
//                                    \Delight\Auth\Role::EDITOR,
//                                    \Delight\Auth\Role::EMPLOYEE,
                                    \Delight\Auth\Role::MAINTAINER,
//                                    \Delight\Auth\Role::MANAGER,
//                                    \Delight\Auth\Role::MODERATOR,
//                                    \Delight\Auth\Role::PUBLISHER,
//                                    \Delight\Auth\Role::REVIEWER,
//                                    \Delight\Auth\Role::SUBSCRIBER,
                                    \Delight\Auth\Role::SUPER_ADMIN,
//                                    \Delight\Auth\Role::SUPER_EDITOR,
//                                    \Delight\Auth\Role::SUPER_MODERATOR,
//                                    \Delight\Auth\Role::TRANSLATOR
                            );

/**
 * User roles. delight-im/auth has a lot of groups defined
 */
$Settings['roles']['available'] = array (  // Admin menue is visible
                                    \Delight\Auth\Role::ADMIN,
                                    \Delight\Auth\Role::AUTHOR,
//                                    \Delight\Auth\Role::COLLABORATOR,
//                                    \Delight\Auth\Role::CONSULTANT,
                                    \Delight\Auth\Role::CONSUMER,
//                                    \Delight\Auth\Role::CONTRIBUTOR,
//                                    \Delight\Auth\Role::COORDINATOR,
                                    \Delight\Auth\Role::CREATOR,
                                    \Delight\Auth\Role::DEVELOPER,
//                                    \Delight\Auth\Role::DIRECTOR,
//                                    \Delight\Auth\Role::EDITOR,
//                                    \Delight\Auth\Role::EMPLOYEE,
                                    \Delight\Auth\Role::MAINTAINER,
//                                    \Delight\Auth\Role::MANAGER,
//                                    \Delight\Auth\Role::MODERATOR,
//                                    \Delight\Auth\Role::PUBLISHER,
                                    \Delight\Auth\Role::REVIEWER,
//                                    \Delight\Auth\Role::SUBSCRIBER,
                                    \Delight\Auth\Role::SUPER_ADMIN,
                                    \Delight\Auth\Role::SUPER_EDITOR,
                                    \Delight\Auth\Role::SUPER_MODERATOR,
//                                    \Delight\Auth\Role::TRANSLATOR
                            );
/**
 * 
 */







/**
 * 
 * 
 * END OF SETTINGS
 * 
 * 
 * 
 */
$pagedata = $Settings['page'];                
$mailsetting['OwnBoilderPlate']= $Settings['mail'];
$navdata['login']['displayname'] = "Testuser";
$navdata['login']['social'] = $Settings['oauth']['use'];
$navdata['login']['socialpage'] = $Settings['oauth']['config']['callback'];
$navdata['login']['registerlink'] = "register";
$navdata['login']['pwreset'] = "pwreset";
$navdata['login']['profile'] = "profile";
$navdata['login']['logintarget'] = "login";
$navdata['adminpages'] = $Settings['admin']['adminpages'];